*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
   
}
::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Chrome, Safari, and Edge */
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    background-color:#fff;

}
nav{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding:0 20px;
height: 60px;

/* background-color: black; */
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    cursor: pointer;
}
.youtubeicon{
    display: flex;
    align-items: center;
    
}
.youtubeicon p{
    margin-left: 2px;
    font-size: 20px;
    font-weight: 500;
    /* line-height: 50px; */
    letter-spacing:-1px;
}
.searchbox{
    display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      /* flex: 1; */
      flex: 0 1 600px;
      /* min-width: 0; */
      /* height: 40px; */
}
.serachinput{
    display: flex;
      align-items: center;
      border-radius: 20px;
      /* padding: 10px; */
      border: 1px solid #eaeaea;
      justify-content: space-between;
      height: 35px;
      overflow: hidden;
      flex: 1;
}
.serachinput input{
    background: transparent;
      outline: none;
      border: none;
      padding:  0 20px;
      height: 50px;
      flex: 1;
      color: #000000;
      font-size: 18px;
}
.serachinput button{
    background: #ededed;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    /* padding: 5px; */
    outline: none;
    border: none;
    /* height: fit-content; */
    /* border-radius: 0 40px 40px 0; */
    cursor: pointer;
    height: 50px;
    width: 64px;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    min-width: 225px;
    /* margin-right: 15px; */
  

}

.profile img , i{
    cursor: pointer;
}
.main{
    display: flex;
    margin-top: 60px;
}
.sidebar{
    padding:0 10px ;
}
.sideHome{
    margin-bottom: 10px ;
}
.sideHome ul{
    display: flex;
    flex-direction: column;
    align-items: start;
    /* gap: 5px; */

}
.sideHome ul li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px 5px;
    border-radius: 10px;
    width: 100%;


}
.sideHome ul li:hover{
    background-color: rgb(240, 239, 239);
    cursor: pointer;
    /* width: 100%; */
}
.sideHome h5{
    color: rgb(26, 26, 26);
}
.sideHome ul li img{
    width: 20px;
    display: flex;
    align-items: center;
}
.sideHome ul li p{
    font-size: 14px;
    font-weight: 400;
}
.subnavbar {
    overflow-y: hidden;
    scroll-behavior: smooth;
   
    width:100vw;
    position: fixed;
    padding: 0 10px 10px 10px;
    /* margin-top: 60px; */
    background-color: #fff;

}
.subnavbar ul{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    gap: 10px;
    white-space: nowrap;
}
.subnavbar ul li{
    /* display: inline-block; */
    display: inline !important;
    padding: 8px;
    font-size: 14px;
    font-weight: 500;
    background-color: #ededed;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
}
.subnavbar ul li:hover{
    background-color: #dddddd;
}
.hero{
    margin-top: 30px;

}
.videoinfo{
    width: 350px;;
}
.videoinfo img{
    width: 350px;
    border-radius: 10px;
}
.videoDes{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 5px;
    gap: 10px;
}
.videoDes img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* margin-right: 5px; */
}
.videoTitel .titel{
   font-size: 16px;
   font-weight: 500;
   margin-bottom: 5px;
}
.channelname,.views{
    font-size: 12px;
    font-weight: 500;
    color: gray;
    margin-bottom: 5px;
}
.views span{
    margin-left: 10px;
}